wsdls/BookTrainTicket1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://booktrainticket1.nju" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://booktrainticket1.nju" xmlns:intf="http://booktrainticket1.nju" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://booktrainticket1.nju" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookTrainTicket">
    <complexType>
     <sequence>
      <element name="trainID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookTrainTicketResponse">
    <complexType>
     <sequence>
      <element name="bookTrainTicketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookTrainTicketResponse">

      <wsdl:part element="impl:bookTrainTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookTrainTicketRequest">

      <wsdl:part element="impl:bookTrainTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookTrainTicket1">

      <wsdl:operation name="bookTrainTicket">

         <wsdl:input message="impl:bookTrainTicketRequest" name="bookTrainTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookTrainTicketResponse" name="bookTrainTicketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookTrainTicket1SoapBinding" type="impl:BookTrainTicket1">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookTrainTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookTrainTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookTrainTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookTrainTicket1Service">

      <wsdl:port binding="impl:BookTrainTicket1SoapBinding" name="BookTrainTicket1">

         <wsdlsoap:address location="http://localhost:80/Booktrainticket1/services/BookTrainTicket1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
