WebRoot/workflow/wsdls/ArticleService.wsdl

<?xml version="1.0"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://predic8.com/wsdl/material/ArticleService/1/" xmlns:ns="http://predic8.com/material/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://predic8.com/material/1/" xmlns:ns2="http://predic8.com/common/1/" targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/" name="article">
    <types>
        <xsd:schema xmlns:ns1="http://predic8.com/material/1/" xmlns:ns2="http://predic8.com/common/1/" targetNamespace="http://predic8.com/wsdl/material/ArticleService/1/">
            <xsd:import schemaLocation="http://www.predic8.com:8080/material/ArticleService?xsd=2" namespace="http://predic8.com/material/1/"></xsd:import>
            <xsd:import schemaLocation="http://www.predic8.com:8080/material/ArticleService?xsd=1" namespace="http://predic8.com/common/1/"></xsd:import>
            <xsd:element name="createResponse" type="tns:CreateResponseType"></xsd:element>
            <xsd:complexType name="CreateResponseType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="create" type="tns:CreateType"></xsd:element>
            <xsd:complexType name="CreateType">
                <xsd:sequence>
                    <xsd:element name="article" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="get" type="tns:GetType"></xsd:element>
            <xsd:complexType name="GetType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getResponse" type="tns:GetResponseType"></xsd:element>
            <xsd:complexType name="GetResponseType">
                <xsd:sequence>
                    <xsd:element name="article" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="getAll" type="tns:GetAllType"></xsd:element>
            <xsd:complexType name="GetAllType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAllResponse" type="tns:GetAllResponseType"></xsd:element>
            <xsd:complexType name="GetAllResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="article" maxOccurs="unbounded" type="ns1:ArticleType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="delete" type="tns:DeleteType"></xsd:element>
            <xsd:complexType name="DeleteType">
                <xsd:sequence>
                    <xsd:element name="id" type="ns2:IdentifierType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="deleteResponse">
                <xsd:complexType>
                    <xsd:sequence></xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    <message name="createRequest">
        <part name="parameters" element="tns:create"></part>
    </message>
    <message name="createResponse">
        <part name="parameters" element="tns:createResponse"></part>
    </message>
    <message name="getRequest">
        <part name="parameters" element="tns:get"></part>
    </message>
    <message name="getResponse">
        <part name="parameters" element="tns:getResponse"></part>
    </message>
    <message name="getAllRequest">
        <part name="parameters" element="tns:getAll"></part>
    </message>
    <message name="getAllResponse">
        <part name="parameters" element="tns:getAllResponse"></part>
    </message>
    <message name="deleteRequest">
        <part name="parameters" element="tns:delete"></part>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"></part>
    </message>
    <portType name="ArticleServicePT">
        <documentation>Interface provided by this Service</documentation>
        <operation name="create">
            <input name="input1" message="tns:createRequest"></input>
            <output name="output1" message="tns:createResponse"></output>
        </operation>
        <operation name="get">
            <input name="input2" message="tns:getRequest"></input>
            <output name="output2" message="tns:getResponse"></output>
        </operation>
        <operation name="getAll">
            <input name="input3" message="tns:getAllRequest"></input>
            <output name="output3" message="tns:getAllResponse"></output>
        </operation>
        <operation name="delete">
            <input name="input4" message="tns:deleteRequest"></input>
            <output name="output4" message="tns:deleteResponse"></output>
        </operation>
    </portType>
    <wsdl:binding name="ArticleServicePTBinding" type="tns:ArticleServicePT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <wsdl:operation name="create">
            <soap:operation soapAction="create_action"></soap:operation>
            <wsdl:input name="input1">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="get_action"></soap:operation>
            <wsdl:input name="input2">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output2">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <soap:operation soapAction="getAll_action"></soap:operation>
            <wsdl:input name="input3">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output3">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="delete_action"></soap:operation>
            <wsdl:input name="input4">
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output name="output4">
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArticleService">
        <wsdl:port name="ArticleServicePTPort" binding="tns:ArticleServicePTBinding">
            <soap:address location="http://www.predic8.com:8080/material/ArticleService"></soap:address>
        </wsdl:port>
    </wsdl:service>
</definitions>