WebRoot/workflow/wsdls/Azbukavkusa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://soap.azbukavkusa.ru" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax216="http://soap.azbukavkusa.ru/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://soap.azbukavkusa.ru">
    <wsdl:documentation>Azbukavkusa</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax217="http://soap.azbukavkusa.ru/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.azbukavkusa.ru">
            <xs:import namespace="http://soap.azbukavkusa.ru/xsd"/>
            <xs:element name="pay">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="_transactionId" type="xs:long"/>
                        <xs:element minOccurs="0" name="_amount" type="xs:float"/>
                        <xs:element minOccurs="0" name="_orderId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="payResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" nillable="true" type="xs:integer"/>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="check">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="_transactionId" type="xs:long"/>
                        <xs:element minOccurs="0" name="_amount" type="xs:float"/>
                        <xs:element minOccurs="0" name="_orderId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" nillable="true" type="xs:integer"/>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.azbukavkusa.ru/xsd">
            <xs:complexType name="Response">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="payRequest">
        <wsdl:part name="parameters" element="ns:pay"/>
    </wsdl:message>
    <wsdl:message name="payResponse">
        <wsdl:part name="parameters" element="ns:payResponse"/>
    </wsdl:message>
    <wsdl:message name="checkRequest">
        <wsdl:part name="parameters" element="ns:check"/>
    </wsdl:message>
    <wsdl:message name="checkResponse">
        <wsdl:part name="parameters" element="ns:checkResponse"/>
    </wsdl:message>
    <wsdl:portType name="AzbukavkusaPortType">
        <wsdl:operation name="pay">
            <wsdl:input message="ns:payRequest" wsaw:Action="urn:pay"/>
            <wsdl:output message="ns:payResponse" wsaw:Action="urn:payResponse"/>
        </wsdl:operation>
        <wsdl:operation name="check">
            <wsdl:input message="ns:checkRequest" wsaw:Action="urn:check"/>
            <wsdl:output message="ns:checkResponse" wsaw:Action="urn:checkResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AzbukavkusaSoap11Binding" type="ns:AzbukavkusaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="pay">
            <soap:operation soapAction="urn:pay" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="check">
            <soap:operation soapAction="urn:check" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AzbukavkusaSoap12Binding" type="ns:AzbukavkusaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="pay">
            <soap12:operation soapAction="urn:pay" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="check">
            <soap12:operation soapAction="urn:check" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AzbukavkusaHttpBinding" type="ns:AzbukavkusaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="pay">
            <http:operation location="pay"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="check">
            <http:operation location="check"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Azbukavkusa">
        <wsdl:port name="AzbukavkusaHttpSoap11Endpoint" binding="ns:AzbukavkusaSoap11Binding">
            <soap:address location="http://test.azbukavkusa.ru:8080/services/Azbukavkusa.AzbukavkusaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AzbukavkusaHttpSoap12Endpoint" binding="ns:AzbukavkusaSoap12Binding">
            <soap12:address location="http://test.azbukavkusa.ru:8080/services/Azbukavkusa.AzbukavkusaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AzbukavkusaHttpEndpoint" binding="ns:AzbukavkusaHttpBinding">
            <http:address location="http://test.azbukavkusa.ru:8080/services/Azbukavkusa.AzbukavkusaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
