WebRoot/workflow/wsdls/BswSchnittstelle2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.bswsnt.vsa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:appinfo="http://appinfo.ws.bswsnt.vsa/xsd" xmlns:ax217="http://einlieferung.ws.bswsnt.vsa/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax218="http://ws.bswsnt.vsa/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax230="http://infopool.ws.bswsnt.vsa/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://ws.bswsnt.vsa" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:hma="http://hma.ws.bswsnt.vsa/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.bswsnt.vsa/xsd">
			<xs:complexType name="Kontaktdaten">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="bundesland_kz" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="fax" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hausnummer" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="land_kz" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="titel" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="ort" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="plz" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="strasse" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="telefonnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="vorname" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Identifikation">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresseAnsprechpartner" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="ik" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Statusmeldung">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="code" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="message" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Statusabfrage">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="leistungserbringerIk" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://infopool.ws.bswsnt.vsa/xsd">
			<xs:import namespace="http://ws.bswsnt.vsa/xsd"/>
			<xs:complexType name="InfopoolEntry">
				<xs:complexContent>
					<xs:extension base="ax218:Statusmeldung">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="leistungserbringerIk" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="kennzeichen" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="angelegt" nillable="true" type="xs:dateTime"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://einlieferung.ws.bswsnt.vsa/xsd">
			<xs:import namespace="http://ws.bswsnt.vsa/xsd"/>
			<xs:complexType name="Einlieferung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="kostenvoranschlag" nillable="true" type="ax217:Kostenvoranschlag"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Kostenvoranschlag">
				<xs:sequence>
					<!-- Hier werden nur Authentifizierungsfehler oder techn. Probleme hinterlegt -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresseAnsprechpartner" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="anhang" nillable="true" type="ax217:Anhang"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bemerkung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kostentraeger" nillable="true" type="ax217:Kostentraeger"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="ik" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="versorgungsgruppe" nillable="true" type="ax217:Versorgungsgruppe"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnungsdaten" nillable="true" type="ax217:Verordnungsdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versandart" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versichertendaten" nillable="true" type="ax217:Versichertendaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsart" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kostentraegerentscheidung" nillable="true" type="ax217:Kostentraegerentscheidung"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Anhang">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="dateiname" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="anhangsart" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Versorgungsgruppe">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsgruppepositionsnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsgruppenname" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="artikelnummer" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumvon" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumbis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="anzahlperioden" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsperiode" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kostenuebernahmezulasten" type="xs:int"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="position" nillable="true" type="ax217:Position">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll abgelöst werden durch positionHma.
In der Übergangszeit gilt:
- für eKVs die von azh Check verschickt werden wird jede Position als position und positionHma angegeben
- für eKVs an azh Check geschickt werden müssen alle Positionen entweder als position oder als positionHma angegeben werden</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="positionHma" nillable="true" type="ax217:PositionHma">
						<xs:annotation>
							<xs:documentation>Neu! Soll position ablösen.
In der Übergangszeit gilt:
- für eKVs die von azh Check verschickt werden wird jede Position als position und positionHma angegeben
- für eKVs an azh Check geschickt werden müssen alle Positionen entweder als position oder als positionHma angegeben werden</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="abweichendeLieferadresse" nillable="true" type="ax217:AbweichendeLieferadresse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PositionHma">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="anfragenummer" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Nummer der Wiedereinsatzanfrage bei Wiedereinsatz/Neuverkauf.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="anzahl" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bruttobetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelkz" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelposnr" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Hilfsmittelpositionsnummer, die eindeutige Identifikationsnummer des Hilfsmittels im Hilfsmittelverzeichnis der GKV</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="legs" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="mengeneinheit" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="mwstkz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="nettobetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="positionsnr" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Laufende Nummer der Position innerhalb der Versorgungsgruppe.
Muss bei '1' beginnen und lückenlos fortlaufend sein.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="produktbesonderheit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="produktbezeichnung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="beschreibungpos" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="pzn" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Die Pharmazentralnummer, ein in Deutschland bundeseinheitlicher Identifikationsschlüssel für Arzneimittel und andere Apothekenprodukte</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="rabatt" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuschlag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="betrageigenanteil" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlung" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="fallpauschale" nillable="true" type="ax217:Fallpauschale"/>
					<xs:element maxOccurs="1" minOccurs="0" name="auslieferungsdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumvon" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumbis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelzumverbrauch" nillable="true" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versicherungsart" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelattribute" nillable="true" type="ax217:hilfsmittelattribute"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="hilfsmittelattribute">
				<xs:sequence>
					<xs:any maxOccurs="unbounded" namespace="http://hma.ws.bswsnt.vsa/xsd" processContents="skip"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Position">
				<xs:annotation>
					<xs:documentation>Deprecated! Soll abgelöst werden durch PositionHma.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="anfragenummer" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Nummer der Wiedereinsatzanfrage bei Wiedereinsatz/Neuverkauf.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="anzahl" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bruttobetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="geraetenummer" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Equivalent zu Seriennummer und soll durch entsprechendes Hilfsmittelattribut abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="hersteller" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.
Vollständiger Name/Bezeichnung des Herstellers, Kürzel sind nicht zulässig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="herstellungsjahr" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelkz" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="hilfsmittelposnr" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Hilfsmittelpositionsnummer, die eindeutige Identifikationsnummer des Hilfsmittels im Hilfsmittelverzeichnis der GKV</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="inventarnr" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.
Eindeutige Lagernummer des Leistungserbringers (nur für wiedereinsatzfähige Hilfsmittel!).
Nur anzugeben, sofern die Ware vor Auslieferung in das Inventar des Leistungserbringers übernommen wurde.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="legs" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="mengeneinheit" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="mwstkz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="nettobetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="positionsnr" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Laufende Nummer der Position innerhalb der Versorgungsgruppe.
Muss bei '1' beginnen und lückenlos fortlaufend sein.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="produktbesonderheit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="produktbezeichnung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="beschreibungpos" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="pzn" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Die Pharmazentralnummer, ein in Deutschland bundeseinheitlicher Identifikationsschlüssel für Arzneimittel und andere Apothekenprodukte</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="rabatt" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="registernummer" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.
Nummer des Hilfsmittels im Lagerpool.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="seriennummer" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.
Seriennummer des Hilfsmittels.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="vorbesitzer" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll entfallen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="zeitwert" nillable="true" type="xs:double">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll entfallen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="zuschlag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="betrageigenanteil" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlung" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="koerperhaelfte" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="fallpauschale" nillable="true" type="ax217:Fallpauschale"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zhpdaten" nillable="true" type="ax217:ZhpDaten">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch Hilfsmittelattribute abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="auslieferungsdatum" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="betriebsstunden" nillable="true" type="xs:int">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch entsprechendes Hilfsmittelattribut abgelöst werden.
Die tatsächliche Anzahl der Betriebsstunden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumvon" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungszeitraumbis" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="hilfsmittelzumverbrauch" nillable="true" type="xs:boolean"/>
					<xs:element minOccurs="0" name="versicherungsart" nillable="true" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Fallpauschale">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="dauer" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="dauereinheit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="karenzzeit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="karenzzeiteinheit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="karenzpreisnetto" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="karenzpreisbrutto" nillable="true" type="xs:double"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ZhpDaten">
				<xs:annotation>
					<xs:documentation>Deprecated! Soll durch Hilfsmittelattribute abgelöst werden.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="zhp_lager_id" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch Hilfsmittelattribut 'registernummer'' abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="zhp_leistungserbringer_id" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>Deprecated! Soll durch Hilfsmittelattribut 'inventarnr' abgelöst werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AbweichendeLieferadresse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="lieferadresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bemerkung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="lieferdatum" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Verordnungsdaten">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="abg" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresseArzt" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="arztnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bsnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bvg" type="xs:int"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="diagnose" nillable="true" type="ax217:Diagnose"/>
					<xs:element maxOccurs="1" minOccurs="0" name="leistung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="unfalldatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="unfallkz" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnerIk" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnungsdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnungsnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnungskz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="opdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungkz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="verordnungsartkz" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Kostentraeger">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="ik" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="sachbearbeiter" nillable="true" type="ax218:Kontaktdaten"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Diagnose">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="diagnoseschluessel" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="diagnosetext" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="koerperhaelfte" nillable="true" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Versichertendaten">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="abweichendeLieferadresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="befreiungbis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="befreiungseit" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="geburtsdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kartegueltigbis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versichertennr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versichertenstatus" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versicherungsart" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlungskz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versichertennrneu" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Lieferbestaetigung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="versorgungsgruppeLieferbestaetigung" nillable="true" type="ax217:VersorgungsgruppeLieferbestaetigung"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersorgungsgruppeLieferbestaetigung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsId" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kz" nillable="true" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="0" name="datum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hinweis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="menge" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="positionLieferbestaetigung" nillable="true" type="ax217:PositionLieferbestaetigung"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PositionLieferbestaetigung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsId" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bestaetigungstyp" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kz" nillable="true" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="0" name="datum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="hinweis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="menge" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<!-- Elemente fuer KT-Entscheidungsdaten -->
			<xs:complexType name="Kostentraegerentscheidung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="anhangVorhanden" nillable="true" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="0" name="begruendung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eigenanteil" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eigentumsvorbehalt" nillable="true" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eingangsdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigungsnummer" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigungsdatum" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigungszeitraum" nillable="true" type="ax217:Genehmigungszeitraum"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigtergesamtbetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigtereigenanteil" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigtezuzahlung" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlungspflicht" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlungskz" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzalungsart" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kostentraegerIk" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="leistungserbringerIk" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="lieferung" nillable="true" type="ax217:Lieferung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="sachbearbeiter" nillable="true" type="ax217:Sachbearbeiter"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlung" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="zuzahlungsart" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="versorgungsgruppeEntscheidungen" nillable="true" type="ax217:VersorgungsgruppeEntscheidung"/>
					<xs:element maxOccurs="10" minOccurs="0" name="anhang" nillable="true" type="ax217:Anhang"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersorgungsgruppeEntscheidung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsId" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsgruppepositionsnr" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="endpreisbrutto" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="genehmigtergesamtbetrag" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="betragzuzahlung" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="betrageigenanteil" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kostenuebernahmezulasten" nillable="true" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="versorgungsperiode" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="anzahlperioden" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="gewaehrleistungszeitraum" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="begruendung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="positionsentscheidungen" nillable="true" type="ax217:PositionEntscheidung"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PositionEntscheidung">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="beschreibung" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="nettobetragbewilligt" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bruttobetragbewilligt" nillable="true" type="xs:double"/>
					<xs:element maxOccurs="1" minOccurs="0" name="positionsnummer" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Genehmigungszeitraum">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="anzahlPerioden" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="0" name="bis" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="periode" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="von" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Lieferung">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="adresseAnsprechpartner" nillable="true" type="ax218:Kontaktdaten"/>
					<xs:element maxOccurs="1" minOccurs="0" name="lagerort" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Sachbearbeiter">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="adresse" nillable="true" type="ax218:Kontaktdaten"/>
				</xs:sequence>
			</xs:complexType>
			<!-- Elemente fuer Nachrichtenversand/-empfang -->
			<xs:complexType name="Nachricht">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldung" nillable="true" type="ax218:Statusmeldung"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="betreff" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="nachricht" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="eingangsdatum" nillable="true" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.bswsnt.vsa" xmlns:ax220="http://einlieferung.ws.bswsnt.vsa/xsd" xmlns:ax221="http://ws.bswsnt.vsa/xsd">
			<xs:import namespace="http://einlieferung.ws.bswsnt.vsa/xsd"/>
			<xs:import namespace="http://ws.bswsnt.vsa/xsd"/>
			<xs:import namespace="http://infopool.ws.bswsnt.vsa/xsd"/>
			<xs:element name="sendKostenvoranschlagData">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="kv" nillable="true" type="ax217:Einlieferung"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendKostenvoranschlagDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax218:Statusmeldung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="updateKostenvoranschlagStatusData">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="statusdata" nillable="true" type="ax217:Einlieferung"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateKostenvoranschlagStatusDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldungen" nillable="true" type="ax218:Statusmeldung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="retrieveAnhangEntscheidung">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="10" minOccurs="0" name="statusabfrage" nillable="true" type="ax218:Statusabfrage"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveAnhangEntscheidungResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax217:Anhang"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="retrieveAnhang">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="10" minOccurs="0" name="statusabfrage" nillable="true" type="ax218:Statusabfrage"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveAnhangResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax217:Anhang"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="retrieveKostenvoranschlagData">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="10" minOccurs="0" name="ids" nillable="true" type="ax218:Statusabfrage"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveKostenvoranschlagDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="10" minOccurs="0" name="kostenvoranschlag" nillable="true" type="ax217:Kostenvoranschlag"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sendLieferbestaetigung">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="lieferbestaetigung" type="ax217:Lieferbestaetigung"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendLieferbestaetigungResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="statusmeldungen" nillable="true" type="ax220:Lieferbestaetigung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="checkInfopool">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
						<xs:element maxOccurs="1" minOccurs="0" name="confirmRequested" nillable="true" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkInfopoolResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="infopoolEntries" nillable="true" type="ax230:InfopoolEntry"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="confirmInfopoolEntry">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="infopoolEntries" nillable="true" type="ax230:InfopoolEntry"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="confirmInfopoolEntryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="infopoolEntries" nillable="true" type="ax230:InfopoolEntry"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sendNachricht">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="nachricht" nillable="true" type="ax217:Nachricht"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendNachrichtResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldungen" nillable="true" type="ax218:Statusmeldung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveNachricht">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveNachrichtResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="nachricht" nillable="true" type="ax217:Nachricht"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="declineVersorgungsanfrage">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr" nillable="true" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="declineVersorgungsanfrageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldungen" nillable="true" type="ax218:Statusmeldung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelKostenvoranschlag">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr_azh" nillable="true" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="kvnr_bsw" nillable="true" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="identifikation" nillable="true" type="ax218:Identifikation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelKostenvoranschlagResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="statusmeldungen" nillable="true" type="ax218:Statusmeldung"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveHmaDefinition">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="asXsd" nillable="false" type="xs:boolean"/>
						<xs:element maxOccurs="1" minOccurs="1" name="kostentraegerik" nillable="false" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retrieveHmaDefinitionResponse"/>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateKostenvoranschlagStatusDataResponse">
    <wsdl:part name="parameters" element="xsd:updateKostenvoranschlagStatusDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelKostenvoranschlagRequest">
    <wsdl:part name="parameters" element="xsd:cancelKostenvoranschlag">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendLieferbestaetigungResponse">
    <wsdl:part name="parameters" element="xsd:sendLieferbestaetigungResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNachrichtRequest">
    <wsdl:part name="parameters" element="xsd:sendNachricht">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateKostenvoranschlagStatusDataRequest">
    <wsdl:part name="parameters" element="xsd:updateKostenvoranschlagStatusData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveHmaDefinitionRequest">
    <wsdl:part name="parameters" element="xsd:retrieveHmaDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNachrichtResponse">
    <wsdl:part name="parameters" element="xsd:sendNachrichtResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveNachrichtRequest">
    <wsdl:part name="parameters" element="xsd:retrieveNachricht">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveHmaDefinitionResponse">
    <wsdl:part name="parameters" element="xsd:retrieveHmaDefinitionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveNachrichtResponse">
    <wsdl:part name="parameters" element="xsd:retrieveNachrichtResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkInfopoolRequest">
    <wsdl:part name="parameters" element="xsd:checkInfopool">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAnhangEntscheidungRequest">
    <wsdl:part name="parameters" element="xsd:retrieveAnhangEntscheidung">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendKostenvoranschlagDataRequest">
    <wsdl:part name="parameters" element="xsd:sendKostenvoranschlagData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveKostenvoranschlagDataRequest">
    <wsdl:part name="parameters" element="xsd:retrieveKostenvoranschlagData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelKostenvoranschlagResponse">
    <wsdl:part name="parameters" element="xsd:cancelKostenvoranschlagResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAnhangEntscheidungResponse">
    <wsdl:part name="parameters" element="xsd:retrieveAnhangEntscheidungResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkInfopoolResponse">
    <wsdl:part name="parameters" element="xsd:checkInfopoolResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmInfopoolEntryResponse">
    <wsdl:part name="parameters" element="xsd:confirmInfopoolEntryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendKostenvoranschlagDataResponse">
    <wsdl:part name="parameters" element="xsd:sendKostenvoranschlagDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAnhangResponse">
    <wsdl:part name="parameters" element="xsd:retrieveAnhangResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="declineVersorgungsanfrageRequest">
    <wsdl:part name="parameters" element="xsd:declineVersorgungsanfrage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendLieferbestaetigungRequest">
    <wsdl:part name="parameters" element="xsd:sendLieferbestaetigung">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAnhangRequest">
    <wsdl:part name="parameters" element="xsd:retrieveAnhang">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="declineVersorgungsanfrageResponse">
    <wsdl:part name="parameters" element="xsd:declineVersorgungsanfrageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveKostenvoranschlagDataResponse">
    <wsdl:part name="parameters" element="xsd:retrieveKostenvoranschlagDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmInfopoolEntryRequest">
    <wsdl:part name="parameters" element="xsd:confirmInfopoolEntry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BswSchnittstellePortType">
    <wsdl:operation name="retrieveAnhangEntscheidung">
      <wsdl:input message="xsd:retrieveAnhangEntscheidungRequest" wsaw:Action="urn:retrieveAnhangEntscheidung">
    </wsdl:input>
      <wsdl:output message="xsd:retrieveAnhangEntscheidungResponse" wsaw:Action="urn:retrieveAnhangEntscheidungResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAnhang">
      <wsdl:input message="xsd:retrieveAnhangRequest" wsaw:Action="urn:retrieveAnhang">
    </wsdl:input>
      <wsdl:output message="xsd:retrieveAnhangResponse" wsaw:Action="urn:retrieveAnhangResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveKostenvoranschlagData">
      <wsdl:input message="xsd:retrieveKostenvoranschlagDataRequest" wsaw:Action="urn:retrieveKostenvoranschlagData">
    </wsdl:input>
      <wsdl:output message="xsd:retrieveKostenvoranschlagDataResponse" wsaw:Action="urn:retrieveKostenvoranschlagDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKostenvoranschlagStatusData">
      <wsdl:input message="xsd:updateKostenvoranschlagStatusDataRequest" wsaw:Action="urn:updateKostenvoranschlagStatusData">
    </wsdl:input>
      <wsdl:output message="xsd:updateKostenvoranschlagStatusDataResponse" wsaw:Action="urn:updateKostenvoranschlagStatusDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendKostenvoranschlagData">
      <wsdl:input message="xsd:sendKostenvoranschlagDataRequest" wsaw:Action="urn:sendKostenvoranschlagData">
    </wsdl:input>
      <wsdl:output message="xsd:sendKostenvoranschlagDataResponse" wsaw:Action="urn:sendKostenvoranschlagDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLieferbestaetigung">
      <wsdl:input message="xsd:sendLieferbestaetigungRequest">
    </wsdl:input>
      <wsdl:output message="xsd:sendLieferbestaetigungResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkInfopool">
      <wsdl:input message="xsd:checkInfopoolRequest">
    </wsdl:input>
      <wsdl:output message="xsd:checkInfopoolResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmInfopoolEntry">
      <wsdl:input message="xsd:confirmInfopoolEntryRequest">
    </wsdl:input>
      <wsdl:output message="xsd:confirmInfopoolEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNachricht">
      <wsdl:input message="xsd:sendNachrichtRequest">
    </wsdl:input>
      <wsdl:output message="xsd:sendNachrichtResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveNachricht">
      <wsdl:input message="xsd:retrieveNachrichtRequest">
    </wsdl:input>
      <wsdl:output message="xsd:retrieveNachrichtResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineVersorgungsanfrage">
      <wsdl:input message="xsd:declineVersorgungsanfrageRequest">
    </wsdl:input>
      <wsdl:output message="xsd:declineVersorgungsanfrageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelKostenvoranschlag">
      <wsdl:input message="xsd:cancelKostenvoranschlagRequest">
    </wsdl:input>
      <wsdl:output message="xsd:cancelKostenvoranschlagResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveHmaDefinition">
      <wsdl:input message="xsd:retrieveHmaDefinitionRequest">
    </wsdl:input>
      <wsdl:output message="xsd:retrieveHmaDefinitionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BswSchnittstelleSoap11Binding" type="xsd:BswSchnittstellePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveAnhangEntscheidung">
      <soap:operation soapAction="urn:retrieveAnhangEntscheidung" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAnhang">
      <soap:operation soapAction="urn:retrieveAnhang" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveKostenvoranschlagData">
      <soap:operation soapAction="urn:retrieveKostenvoranschlagData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKostenvoranschlagStatusData">
      <soap:operation soapAction="urn:updateKostenvoranschlagStatusData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendKostenvoranschlagData">
      <soap:operation soapAction="urn:sendKostenvoranschlagData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLieferbestaetigung">
      <soap:operation soapAction="urn:sendLieferbestaetigung" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkInfopool">
      <soap:operation soapAction="urn:checkInfopool" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmInfopoolEntry">
      <soap:operation soapAction="urn:confirmInfopoolEntry" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNachricht">
      <soap:operation soapAction="urn:sendNachricht" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveNachricht">
      <soap:operation soapAction="urn:retrieveNachricht" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineVersorgungsanfrage">
      <soap:operation soapAction="urn:declineVersorgungsanfrage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelKostenvoranschlag">
      <soap:operation soapAction="urn:cancelKostenvoranschlag" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveHmaDefinition">
      <soap:operation soapAction="urn:retrieveHmaDefinition" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BswSchnittstelleHttpBinding" type="xsd:BswSchnittstellePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="retrieveAnhangEntscheidung">
      <http:operation location="BswSchnittstelle2/retrieveAnhangEntscheidung"/>
      <wsdl:input>
        <mime:content part="retrieveAnhangEntscheidung" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="retrieveAnhangEntscheidung" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAnhang">
      <http:operation location="BswSchnittstelle2/retrieveAnhang"/>
      <wsdl:input>
        <mime:content part="retrieveAnhang" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="retrieveAnhang" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveKostenvoranschlagData">
      <http:operation location="BswSchnittstelle2/retrieveKostenvoranschlagData"/>
      <wsdl:input>
        <mime:content part="retrieveKostenvoranschlagData" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="retrieveKostenvoranschlagData" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKostenvoranschlagStatusData">
      <http:operation location="BswSchnittstelle2/updateKostenvoranschlagStatusData"/>
      <wsdl:input>
        <mime:content part="updateKostenvoranschlagStatusData" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateKostenvoranschlagStatusData" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendKostenvoranschlagData">
      <http:operation location="BswSchnittstelle2/sendKostenvoranschlagData"/>
      <wsdl:input>
        <mime:content part="sendKostenvoranschlagData" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendKostenvoranschlagData" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLieferbestaetigung">
      <http:operation location="BswSchnittstelle2/sendLieferbestaetigung"/>
      <wsdl:input>
        <mime:content part="sendLieferbestaetigung" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendLieferbestaetigung" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkInfopool">
      <http:operation location="BswSchnittstelle2/checkInfopool"/>
      <wsdl:input>
        <mime:content part="checkInfopool" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="checkInfopool" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmInfopoolEntry">
      <http:operation location="BswSchnittstelle2/confirmInfopoolEntry"/>
      <wsdl:input>
        <mime:content part="confirmInfopoolEntry" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="confirmInfopoolEntry" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNachricht">
      <http:operation location="BswSchnittstelle2/sendMessage"/>
      <wsdl:input>
        <mime:content part="sendNachricht" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendNachricht" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveNachricht">
      <http:operation location="BswSchnittstelle2/retrieveNachricht"/>
      <wsdl:input>
        <mime:content part="retrieveNachricht" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="retrieveNachricht" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineVersorgungsanfrage">
      <http:operation location="BswSchnittstelle2/declineVersorgungsanfrage"/>
      <wsdl:input>
        <mime:content part="declineVersorgungsanfrage" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="declineVersorgungsanfrage" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelKostenvoranschlag">
      <http:operation location="BswSchnittstelle2/cancelKostenvoranschlag"/>
      <wsdl:input>
        <mime:content part="cancelKostenvoranschlag" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="cancelKostenvoranschlag" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveHmaDefinition">
      <http:operation location="BswSchnittstelle2/retrieveHmaDefinition"/>
      <wsdl:input>
        <mime:content part="retrieveHmaDefinition" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="retrieveHmaDefinition" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BswSchnittstelleSoap12Binding" type="xsd:BswSchnittstellePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveAnhangEntscheidung">
      <soap12:operation soapAction="urn:retrieveAnhangEntscheidung" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAnhang">
      <soap12:operation soapAction="urn:retrieveAnhang" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveKostenvoranschlagData">
      <soap12:operation soapAction="urn:retrieveKostenvoranschlagData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateKostenvoranschlagStatusData">
      <soap12:operation soapAction="urn:updateKostenvoranschlagStatusData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendKostenvoranschlagData">
      <soap12:operation soapAction="urn:sendKostenvoranschlagData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendLieferbestaetigung">
      <soap12:operation soapAction="urn:sendLieferbestaetigung" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkInfopool">
      <soap12:operation soapAction="urn:checkInfopool" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmInfopoolEntry">
      <soap12:operation soapAction="urn:confirmInfopoolEntry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendNachricht">
      <soap12:operation soapAction="urn:sendNachricht" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveNachricht">
      <soap12:operation soapAction="urn:retrieveNachricht" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="declineVersorgungsanfrage">
      <soap12:operation soapAction="urn:declineVersorgungsanfrage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelKostenvoranschlag">
      <soap12:operation soapAction="urn:cancelKostenvoranschlag" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveHmaDefinition">
      <soap12:operation soapAction="urn:retrieveHmaDefinition" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BswSchnittstelle2">
    <wsdl:port name="BswSchnittstelleHttpSoap12Endpoint" binding="xsd:BswSchnittstelleSoap12Binding">
      <soap12:address location="https://www.azh-portal.de/services/BswSchnittstelle2"/>
    </wsdl:port>
    <wsdl:port name="BswSchnittstelleHttpSoap11Endpoint" binding="xsd:BswSchnittstelleSoap11Binding">
      <soap:address location="https://www.azh-portal.de/services/BswSchnittstelle2"/>
    </wsdl:port>
    <wsdl:port name="BswSchnittstelleHttpEndpoint" binding="xsd:BswSchnittstelleHttpBinding">
      <http:address location="https://www.azh-portal.de/services/BswSchnittstelle2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
