WebRoot/workflow/wsdls/JAXWSFrontEndServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://frontend.recargacel.nebulae.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://frontend.recargacel.nebulae.com/" name="JAXWSFrontEndServices">
<types>
<xsd:schema>
<xsd:import namespace="http://frontend.recargacel.nebulae.com/" schemaLocation="http://nebulae.com.co:80/RecargacelAdmin-war/JAXWSFrontEndServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getAvailableProducts">
<part name="parameters" element="tns:getAvailableProducts"/>
</message>
<message name="getAvailableProductsResponse">
<part name="parameters" element="tns:getAvailableProductsResponse"/>
</message>
<message name="getBusinessUnitInfo">
<part name="parameters" element="tns:getBusinessUnitInfo"/>
</message>
<message name="getBusinessUnitInfoResponse">
<part name="parameters" element="tns:getBusinessUnitInfoResponse"/>
</message>
<message name="getLastProductSaleResponse">
<part name="parameters" element="tns:getLastProductSaleResponse"/>
</message>
<message name="getLastProductSaleResponseResponse">
<part name="parameters" element="tns:getLastProductSaleResponseResponse"/>
</message>
<message name="doSale">
<part name="parameters" element="tns:doSale"/>
</message>
<message name="doSaleResponse">
<part name="parameters" element="tns:doSaleResponse"/>
</message>
<portType name="JAXWSFrontEndServices">
<operation name="getAvailableProducts">
<input wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getAvailableProductsRequest" message="tns:getAvailableProducts"/>
<output wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getAvailableProductsResponse" message="tns:getAvailableProductsResponse"/>
</operation>
<operation name="getBusinessUnitInfo">
<input wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getBusinessUnitInfoRequest" message="tns:getBusinessUnitInfo"/>
<output wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getBusinessUnitInfoResponse" message="tns:getBusinessUnitInfoResponse"/>
</operation>
<operation name="getLastProductSaleResponse">
<input wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getLastProductSaleResponseRequest" message="tns:getLastProductSaleResponse"/>
<output wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/getLastProductSaleResponseResponse" message="tns:getLastProductSaleResponseResponse"/>
</operation>
<operation name="doSale">
<input wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/doSaleRequest" message="tns:doSale"/>
<output wsam:Action="http://frontend.recargacel.nebulae.com/JAXWSFrontEndServices/doSaleResponse" message="tns:doSaleResponse"/>
</operation>
</portType>
<binding name="JAXWSFrontEndServicesPortBinding" type="tns:JAXWSFrontEndServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAvailableProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusinessUnitInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastProductSaleResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JAXWSFrontEndServices">
<port name="JAXWSFrontEndServicesPort" binding="tns:JAXWSFrontEndServicesPortBinding">
<soap:address location="http://nebulae.com.co:80/RecargacelAdmin-war/JAXWSFrontEndServices"/>
</port>
</service>
</definitions>