WebRoot/workflow/wsdls/TrainTicketQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://trainticketquery1.nju" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://trainticketquery1.nju" xmlns:intf="http://trainticketquery1.nju" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://trainticketquery1.nju" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="queryTrainTicket">
    <complexType>
     <sequence>
      <element name="cityfrom" type="xsd:string"/>
      <element name="cityto" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="queryTrainTicketResponse">
    <complexType>
     <sequence>
      <element name="queryTrainTicketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryTrainTicketResponse">

      <wsdl:part element="impl:queryTrainTicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryTrainTicketRequest">

      <wsdl:part element="impl:queryTrainTicket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrainTicketQuery">

      <wsdl:operation name="queryTrainTicket">

         <wsdl:input message="impl:queryTrainTicketRequest" name="queryTrainTicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryTrainTicketResponse" name="queryTrainTicketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrainTicketQuerySoapBinding" type="impl:TrainTicketQuery">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryTrainTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryTrainTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="queryTrainTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrainTicketQueryService">

      <wsdl:port binding="impl:TrainTicketQuerySoapBinding" name="TrainTicketQuery">

         <wsdlsoap:address location="http://localhost:80/Trainticketquery1/services/TrainTicketQuery"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
