WebRoot/workflow/wsdls/WeatherForecastService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://weather1.nju" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://weather1.nju" xmlns:intf="http://weather1.nju" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://weather1.nju" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getWeather">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWeatherResponse">
    <complexType>
     <sequence>
      <element name="getWeatherReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getWeatherResponse">

      <wsdl:part element="impl:getWeatherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWeatherRequest">

      <wsdl:part element="impl:getWeather" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WeatherForecastService">

      <wsdl:operation name="getWeather">

         <wsdl:input message="impl:getWeatherRequest" name="getWeatherRequest">

       </wsdl:input>

         <wsdl:output message="impl:getWeatherResponse" name="getWeatherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeatherForecastServiceSoapBinding" type="impl:WeatherForecastService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getWeather">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWeatherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWeatherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeatherForecastServiceService">

      <wsdl:port binding="impl:WeatherForecastServiceSoapBinding" name="WeatherForecastService">

         <wsdlsoap:address location="http://localhost:8080/Weather1/services/WeatherForecastService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
