WebRoot/workflow/wsdls/wsmotos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.arodar.com.ar/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.arodar.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interface de aRodar Motos</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.arodar.com.ar/">
      <s:element name="getmotos">
        <s:complexType />
      </s:element>
      <s:element name="getmotosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getmotosResult" type="tns:ArrayOfMoto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMoto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Moto" nillable="true" type="tns:Moto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Moto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdTipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdMarca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cilindrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Km" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Permuto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fotos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caracteristicas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Visitas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="gettipos">
        <s:complexType />
      </s:element>
      <s:element name="gettiposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gettiposResult" type="tns:ArrayOfCTipo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCTipo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cTipo" nillable="true" type="tns:cTipo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cTipo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdTipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getmarcas">
        <s:complexType />
      </s:element>
      <s:element name="getmarcasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getmarcasResult" type="tns:ArrayOfCMarca" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCMarca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cMarca" nillable="true" type="tns:cMarca" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cMarca">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdMarca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getestados">
        <s:complexType />
      </s:element>
      <s:element name="getestadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getestadosResult" type="tns:ArrayOfCEstado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCEstado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cEstado" nillable="true" type="tns:cEstado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cEstado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getmotosSoapIn">
    <wsdl:part name="parameters" element="tns:getmotos" />
  </wsdl:message>
  <wsdl:message name="getmotosSoapOut">
    <wsdl:part name="parameters" element="tns:getmotosResponse" />
  </wsdl:message>
  <wsdl:message name="getmotosAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="gettiposSoapIn">
    <wsdl:part name="parameters" element="tns:gettipos" />
  </wsdl:message>
  <wsdl:message name="gettiposSoapOut">
    <wsdl:part name="parameters" element="tns:gettiposResponse" />
  </wsdl:message>
  <wsdl:message name="gettiposAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getmarcasSoapIn">
    <wsdl:part name="parameters" element="tns:getmarcas" />
  </wsdl:message>
  <wsdl:message name="getmarcasSoapOut">
    <wsdl:part name="parameters" element="tns:getmarcasResponse" />
  </wsdl:message>
  <wsdl:message name="getmarcasAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getestadosSoapIn">
    <wsdl:part name="parameters" element="tns:getestados" />
  </wsdl:message>
  <wsdl:message name="getestadosSoapOut">
    <wsdl:part name="parameters" element="tns:getestadosResponse" />
  </wsdl:message>
  <wsdl:message name="getestadosAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="wsmotosSoap">
    <wsdl:operation name="getmotos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna información de anuncios de motos</wsdl:documentation>
      <wsdl:input message="tns:getmotosSoapIn" />
      <wsdl:output message="tns:getmotosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="gettipos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna información de tipos de vehículos</wsdl:documentation>
      <wsdl:input message="tns:gettiposSoapIn" />
      <wsdl:output message="tns:gettiposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getmarcas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna información de marcas de vehículos</wsdl:documentation>
      <wsdl:input message="tns:getmarcasSoapIn" />
      <wsdl:output message="tns:getmarcasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getestados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna información de estados de anuncios</wsdl:documentation>
      <wsdl:input message="tns:getestadosSoapIn" />
      <wsdl:output message="tns:getestadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsmotosSoap" type="tns:wsmotosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getmotos">
      <soap:operation soapAction="http://www.arodar.com.ar/getmotos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getmotosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettipos">
      <soap:operation soapAction="http://www.arodar.com.ar/gettipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:gettiposAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmarcas">
      <soap:operation soapAction="http://www.arodar.com.ar/getmarcas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getmarcasAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getestados">
      <soap:operation soapAction="http://www.arodar.com.ar/getestados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getestadosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsmotosSoap12" type="tns:wsmotosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getmotos">
      <soap12:operation soapAction="http://www.arodar.com.ar/getmotos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getmotosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettipos">
      <soap12:operation soapAction="http://www.arodar.com.ar/gettipos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:gettiposAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmarcas">
      <soap12:operation soapAction="http://www.arodar.com.ar/getmarcas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getmarcasAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getestados">
      <soap12:operation soapAction="http://www.arodar.com.ar/getestados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getestadosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsmotos">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interface de aRodar Motos</wsdl:documentation>
    <wsdl:port name="wsmotosSoap" binding="tns:wsmotosSoap">
      <soap:address location="http://www.arodar.com.ar/api/wsmotos.asmx" />
    </wsdl:port>
    <wsdl:port name="wsmotosSoap12" binding="tns:wsmotosSoap12">
      <soap12:address location="http://www.arodar.com.ar/api/wsmotos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>